# API Framework
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0

# ML & Preprocessing
numpy==1.26.3
scipy==1.11.4
scikit-learn==1.3.2
joblib==1.3.2
gensim==4.3.2

# NLP Preprocessing
nltk==3.8.1
beautifulsoup4==4.12.2

# Model hosting
huggingface_hub==0.24.0

# Testing (TestClient pour FastAPI)
httpx==0.25.2

# Interface
streamlit==1.28.0

